#profil > a.fav{
	margin:0;
	margin-right:20px;
	margin-top:-50px;
	float:right;
}
#profil > a.fav .fav{
	height:30px;
	width:30px;
	margin:0;
}
#profil > a.fav .favNo{
	background-image:url('../img/favNo.png');
}
#profil > a.fav .favYes{
	background-image:url('../img/favYes.png');
}

.layout #profil .roundedImage img{
	width:90px;
	margin-left:-8px;
}