<article id="last-wines">
	<h2>Les derniers vins de vos utilisateurs favoris</h2>
	<check if="{{@lastWines != 0}}" >
		<true>
			<repeat group="{{ @lastWines }}" value="{{ @wine }}">
				<div class="last-wine">
					<check if="{{@wine.user_firstname !=''}}" >
						<true>
							<a href="./user/{{@wine.user_id}}">{{@wine.user_firstname}}</a><span> a ajouté :</span>
						</true>
						<false>
							<a href="./user/{{@wine.user_id}}">Un utilisateur</a><span> a ajouté :</span>	
						</false>
					</check>
					<div id="display-last-wine">
						<a href="{{ @wine.wine_id }}"><img style="width:100px;" src="./public/img/avatars/{{@wine.wine_img}}" alt="{{@wine.wine_img}}"></a>
						<h3><a href="./wine/{{ @wine.wine_id }}">{{ @wine.wine_name }}</a></h3>
					</div>

					<a href="./wine/{{ @wine.wine_id }}">Voir la fiche</a>
					<a href="./proposition/{{ @wine.wine_id }}">Proposition</a>
				</div>
			</repeat>
		</true>
		<false>
			<p>Vous n'avez pas rajouté d'utilisateurs favoris à l'heure actuelle.</p>	
		</false>
	</check>	
</article>				

						
