<h2>Les derniers vins ajoutés</h2>

<check if="{{@lastWines!=0}}" >
	<true>
		<repeat group="{{ @lastWines }}" value="{{ @wine }}">

			<div class="result-wine" style="width=100px; height=200px; display:inline-block; padding:20px; border:1px solid;">
				<span><a href="./user/{{@wine.user_wine_id}}">{{@wine.user_firstname}}</a> a ajouté :</span><br/>
				<a href="{{ @wine.wine_id }}"><img src="./avatars/{{@wine.wine_img}}" alt="{{@wine.wine_img}}" width="100px" height="100px"></a><br/>
				<span><a href="./wine/{{ @wine.wine_id }}">{{ @wine.wine_name }}</a></span><br/>
				<a href="#">Voir la fiche</a><br/>
				<a href="#">Faire une proposition</a><br/>
			</div>

		</repeat>
	</true>
	<false>
		Il n'y a pas encore de vins rajoutés pour le moment. 	
	</false>
</check>