<article id="last-wines">
	<h2>Les derniers vins des utilisateurs</h2>
	<check if="{{@lastWines!=0}}" >
		<true>
			<repeat group="{{ @lastWines }}" value="{{ @wine }}">
				<div class="last-wine">
					<a href="./user/{{@wine.user_wine_id}}">{{@wine.user_firstname}}</a><span> a ajouté :</span>
					<div id="display-last-wine">
						<a href="{{ @wine.wine_id }}"><img src="./public/img/avatars/{{@wine.wine_img}}.png" alt="{{@wine.wine_img}}"></a>
						<h3><a href="./wine/{{ @wine.wine_id }}">{{ @wine.wine_name }}</a></h3>
					</div>

					<a href="./wine/{{ @wine.wine_id }}">Voir la fiche</a>
				</div>
			</repeat>
		</true>
		<false>
			<p>Il n'y a pas encore de vins rajoutés sur notre site pour le moment.<p>	
		</false>
	</check>
</article>				

						
