
		<!--<p>Alertes</p>-->
		<!-- début main -->
		<section class="main">
		
			<!-- début wrap -->
			<section class="wrap">
			
				<article id="alert">
					<div class="layout">
						<p>MES ALERTES</p>
					</div>
				</article>
				
				
				<section id="wrapper">
				
						<!-- début layout -->
						<div class="layout">
						
						<div id="ariane">
							<a href="#">Afficher tout</a>
							<a href="#">- Proposition reçues -</a>
							<a href="#">Proposition envoyées</a>
						</div>
						<!-- fin ariane -->
						
						<article id="display-alert">
							
														
							<div class="accordion1">
							
								
							
								<p class="title-alert"><a href="#">Frédéric</a> vous a fait une proposition</p>
	
								<div class="wine">
									<div class="alert-wine">
										<div class="alert-info">
										<h1>Muscat de Lunel</h1>
											<ul>
													<li>
														<p>
															<span class="title-info">Millésime :</span> 
															2005
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Cêpage :</span>
														 pinot noir
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Région :</span>
														bourgogne
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Le ptit conseil :</span>
														A déguster avec des chaires fines et des viandes blancs
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Valeur estimée :</span>
														<a href="#">2500 points</a>
														</p>
													</li>
													
												
											</ul>

										</div>
										<!-- fin infos -->
										
										<img src="#" alt="wine-picture" />
									</div>
									<!-- fin alert-wine -->
									<div class="arrow">
										<img src="img/arrow.png" alt="flèches" />
									</div>
									
									<div class="alert-wine">
									
										<div class="alert-info">
										<h1>Muscat de Lunel</h1>
											<ul>
													<li>
														<p>
															<span class="title-info">Millésime :</span> 
															2005
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Cêpage :</span>
														 pinot noir
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Région :</span>
														bourgogne
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Le ptit conseil :</span>
														A déguster avec des chaires fines et des viandes blancs
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Valeur estimée :</span>
														<a href="#">2500 points</a>
														</p>
													</li>
													
												
											</ul>

										</div>
										<!-- fin infos -->
										
										<img src="#" alt="wine-picture" />
									</div>
									<!-- fin alert-wine -->
									
								
									
									
									
									
									<!-- fin alert interact -->
										
							
							</div>
							
									<div class="alert-interact">
										<a href="#">Accepter</a>
										<a href="#">Négocier</a>
										<a href="#">Refuser</a>
										
										<p>Envoyez lui une proposition de rendez-vous :</p>
										
										<textarea>
										</textarea>
										
										<input type="submit" value="envoyer" name="envoyer" />
										
									</div>	
							</div>
							<!-- fin accordion 1 -->
							<div class="accordion2">
							
								
							
								<p class="title-alert"><a href="#">Frédéric</a> vous a fait une proposition</p>
	
								<div class="wine">
									<div class="alert-wine">
										<div class="alert-info">
										<h1>Muscat de Lunel</h1>
											<ul>
													<li>
														<p>
															<span class="title-info">Millésime :</span> 
															2005
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Cêpage :</span>
														 pinot noir
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Région :</span>
														bourgogne
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Le ptit conseil :</span>
														A déguster avec des chaires fines et des viandes blancs
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Valeur estimée :</span>
														<a href="#">2500 points</a>
														</p>
													</li>
													
												
											</ul>

										</div>
										<!-- fin infos -->
										
										<img src="#" alt="wine-picture" />
									</div>
									<!-- fin alert-wine -->
									<div class="arrow">
										<img src="img/arrow.png" alt="flèches" />
									</div>
									
									<div class="alert-wine">
									
										<div class="alert-info">
										<h1>Muscat de Lunel</h1>
											<ul>
													<li>
														<p>
															<span class="title-info">Millésime :</span> 
															2005
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Cêpage :</span>
														 pinot noir
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Région :</span>
														bourgogne
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Le ptit conseil :</span>
														A déguster avec des chaires fines et des viandes blancs
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Valeur estimée :</span>
														<a href="#">2500 points</a>
														</p>
													</li>
													
												
											</ul>

										</div>
										<!-- fin infos -->
										
										<img src="#" alt="wine-picture" />
									</div>
									<!-- fin alert-wine -->
									
								
									
									
									
									
									<!-- fin alert interact -->
										
							
							</div>
							
									<div class="alert-interact">
										<a href="#">Accepter</a>
										<a href="#">Négocier</a>
										<a href="#">Refuser</a>
																				
									</div>	
							</div>
							
						</article>
						<!-- fin display alert -->
						
						
						</div>
						<!-- fin layout -->
						
						</div>
						
				</section>
				<!-- fin wrapper -->

