
		<!--<p>Alertes</p>-->
		<!-- début main -->
		<section class="main">
		
			<!-- début wrap -->
			<section class="wrap">
			
				<article id="alert">
					<div class="layout">
						<p>MES ALERTES</p>
					</div>
				</article>
				
				
				<section id="wrapper">
				
						<!-- début layout -->
						<div class="layout">

						<check if="{{ @propositions!='' }}">
						<true>	
						<repeat group="{{ @propositions }}" value="{{ @proposition }}">	
						<article id="display-alert">							
							<div class="accordion1">				
								<p class="title-alert"><a href="#">{{ @proposition.prop_receive_user_firstname }}</a> vous a fait une proposition</p>
	
								<div class="wine">
									<div class="alert-wine">
										<div class="alert-info">
											<a href="./wine/{{ @proposition.prop_send_wine_id }}"><h1>{{ @proposition.prop_send_wine_name }}</h1></a>
										</div>
										<img src="./public/img/avatars/{{ @proposition.prop_send_wine_img }}"  alt="wine-picture" />
									</div>
									<!-- fin alert-wine -->
									<div class="arrow">
										<img src="img/arrow.png" alt="flèches" />
									</div>
									
									<div class="alert-wine">
									
										<div class="alert-info">
											<a href="./wine/{{ @proposition.prop_receive_wine_id }}"><h1>{{ @proposition.prop_receive_wine_name }}</h1></a>
										</div>
										<!-- fin infos -->
										
										<img src="./public/img/avatars/{{ @proposition.prop_send_wine_img }}"  alt="wine-picture" />
									</div>
									<!-- fin alert-wine -->
									
								
									
									
									
									
									<!-- fin alert interact -->
										
							
							</div>
									<div class="alert-interact">
										<a href="#">Accepter</a>
										<a href="#">Refuser</a>
										
									</div>	
							</div>
							
							
						</article>
						</true>
						<else>
							<p>Vous n'avez pas de propositions</p>
						</else>
						</check>
						<!-- fin display alert -->
						
						
						</div>
						<!-- fin layout -->
						
						</div>
				</section>