<br/>
<span style="color:{{ @color }};">{{ @message }}</span>
<repeat group="{{ @resultWine }}" value="{{ @item }}">
	<form method="post" action="modifyWine/{{ @item.wine_id  }}">
		<p>Modifier ou complétez votre profil : </p>
		<label>Nom : </label><input type="text" name="wineName"/><span>Ancien : ({{ @item.wine_name  }})</span><br/>
		<label>Origine : </label><input type="text" name="wineOrigin"/><span>Ancien : ({{ @item.wine_origin  }})</span><br/>
		<label>Cépage : </label><input type="text" name="wineCepage"/><span>Ancien : ({{ @item.wine_cepage  }})</span><br/>
		<label>Millésime : </label><input type="text" name="wineMillesim"/><span>Ancien : ({{ @item.wine_millesime  }})</span><br/>
		<label>Nombre de bouteilles : </label><input type="text" name="wineNb"/><span>Ancien : ({{ @item.wine_quantitee  }})</span><br/>
		<label>Conseil : </label><textarea name="wineConseil"></textarea><span>Ancien : ({{ @item.wine_conseil  }})</span><br/>
		<input type="submit" value="Modifier le vin"/>
	</form>
	<form method="post" action="changeAvatarWine/{{ @item.wine_id  }}" enctype="multipart/form-data">
		<input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
		<label>Changer l'image du vin : </label><input type="file" name="imgWine" /><br/>
		<input type="submit" value="Enregistrer l'image"/>
	</form>
</repeat>
<a href="maCave">Retour sur votre cave</a>