	<!-- début main -->
		<section class="main">
		
			<!-- début wrap -->
			<section class="wrap">
			
					<article id="display-profil">
						<div class="layout">
										<article id="profil">
												<repeat group="{{ @otherUser }}" value="{{ @user }}">

											<div class="roundedImage">
												<img src="./public/img/avatars/{{ @user.user_img  }}" alt="{{ @user.user_img  }}" />
											</div>
											<h3>{{ @user.user_firstname  }} {{ @user.user_lastname  }}</h3>
											<check if="{{ @fav!=0 }}">
												<true>
													<a class="fav" href="addFavUser/{{ @user.user_id }}"><div class="fav favYes"></div></a>
												</true>
												<false>
													<a class="fav" href="addFavUser/{{ @user.user_id }}"><div class="fav favNo"></div></a>
												</false>
											</check>
												<div id="profil-infos">
													<check if="{{@nameUser!=''}}">
														<true>
															<p>Prénom : {{@nameUser}}</p><br/>
														</true>
														<false>
															<p>Prénom : Pas de prénom</p><br/>
														</false>
													</check>
													
													<p>Adresse mail : {{ @user.user_mail  }}</p><br/>
													<check if="{{@user.user_street!=''}}">
														<check if="{{@user.user_cp!=0}}">
															<check if="{{@user.user_town!=''}}">
																<true>
																	<p>Adresse postale :</p><br/>
																	<p> {{ @user.user_street  }}</p>
																	<p> {{ @user.user_cp  }} {{ @user.user_town  }}</p>
																</true>
																<false>
																	<p>Pas d'adresse postale</p>
																</false>
															</check>
															<false>
																<p>Pas d'adresse postale</p>
															</false>
														</check>
														<false>
															<p>Pas d'adresse postale</p>
														</false>
													</check>
												</div>
												</repeat>

										</article>
						</div>
					</article>

				<section id="wrapper">
				
						<!-- début layout -->
						<div class="layout">
							
							<section id="my-cave">
								
								<h2>Ma cave</h2>
								
								<check if="{{@nameUser!=''}}">
									<true>
										<p>{{@nameUser}} possède actuellement {{ @nbWines }} vins dans ma cave</p>
									</true>
									<false>
										<p>Cet utilisateur possède actuellement {{ @nbWines }} vins dans ma cave</p>
									</false>
								</check>
								
									<article id="display-cave">
										<!-- fin add wine -->
										
										<check if="{{@otherUserWines!=0}}" >
											<true>
												<repeat group="{{ @otherUserWines }}" value="{{ @userWine }}">
													<div class="display-wine">
													 	<h3>{{ @userWine.wine_name }}</h3>
													 	<div class="display-wine-infos">
													 		<img src="./public/img/avatars/{{ @userWine.wine_img }}" alt="photo du vin {{ @userWine.wine_name }}" />
													 		<ul>
																<li>
																	<p>
																		<span class="title-info">Millésime :</span> 
																		{{ @userWine.wine_millesime }}
																	</p>
																</li>
																<li>
																	<p>
																		<span class="title-info">Cêpage :</span>
																		{{ @userWine.wine_cepage }} 
																	</p>
																</li>
																<li>
																	<p>
																		<span class="title-info">Origine :</span>
																		{{ @userWine.wine_origin }}
																	</p>
																</li>
																<li>
																	<p>
																		<span class="title-info">Le ptit conseil :</span>
																		{{ @userWine.wine_conseil }}
																	</p>
																</li>
																<li>
																	<p>
																		<span class="title-info">Valeur estimée :</span>
																		{{ @userWine.wine_value }}
																	</p>
																</li>
															</ul>
											 			</div>
											 			<!-- fin wine infos -->
													</div>
												</repeat>
											</true>
											<false>
												<p>Vous n'avez pas encore ajouté de vin &aacute votre cave.</p>	
											</false>
										</check>
										
										<!-- fin display-wine -->
								
									
									</article>
									<!-- fin display-cave -->
									
									
							
									
							</section>
							<!-- fin my cave -->
							
									<section id="my-friend">
										<h2>J'aime leurs vins</h2>
										<p>14 utilisateurs favoris>
										<section id="display-friend">
										
											<div class="friend">
											<img src="#" alt="photo d'ami" />
											<a href="#">Frederico</a>
											</div>
											<!-- fin friend -->
											
											<div class="friend">
											<img src="#" alt="photo d'ami" />
											<a href="#">Frederico</a>
											</div>
											<!-- fin friend -->
											
											<div class="friend">
											<img src="#" alt="photo d'ami" />
											<a href="#">Frederico</a>
											</div>
											<!-- fin friend -->
											
										</section>
										<!-- fin display friend -->
									
									</section>
									<!-- fin my friend -->
						</div> 
						<!-- fin layout -->
						
						
						<footer>
						</footer></section>
						<!-- fin wrapper -->
						
						
			</section>
			<!-- fin wrap -->
			
		</section>
		<!-- fin main -->
		
		
		
		
		
		
		
		
		
		
		
	</body>
	
</html>