<div id="background">
					<article id="erreur">
						<h1>ERREUR 404</h1>
							
							<p>Désolée, il semblerait que votre navigateur ait trop bu et qu’il ne trouve
			pas la page demandée. Attention, l’abus d’alcool est dangereux pour la santée !</p>
							<p>Pour retourner sur notre plate-forme cliquez sur le logo ci-dessous :</p>
							
							<a href="./"><img src="./public/img/logo.png" alt="&Aacute la notre ! Site de troc de vin en ligne !" /></a>
						
					</article>
					<!-- fin 404 -->
				</div>