	<!-- début main -->
		<section class="main">
		
			<!-- début wrap -->
			<section class="wrap">
			
					<article id="display-profil">
						<div class="layout">
										<article id="profil">
												<repeat group="{{ @result }}" value="{{ @item }}">

											<div class="roundedImage">
												<img src="./public/img/avatars/{{ @item.user_img  }}" alt="{{ @item.user_img  }}" />
											</div>
											<h3>{{ @item.user_firstname  }} {{ @item.user_lastname  }}</h3>
												<div id="profil-infos">
													<p>Pseudo : TEXTE EN DUR</p>
													
													<p>Adresse postale : {{ @item.user_street  }}</p>
													<p>Adresse mail : {{ @item.user_mail  }}</p>
													<p>Ville : {{ @item.user_cp  }} {{ @item.user_town  }}</p>
												</div>
											<a href="formProfilModif">Modifier mes informations</a>
												</repeat>

										</article>
						</div>
					</article>

				<section id="wrapper">
				
						<!-- début layout -->
						<div class="layout">
							
							<section id="my-cave">
								
								<h2>Ma cave</h2>
								
								<p>Je possède actuellement {{ @nbWines }} vins dans ma cave</p>
								
									<article id="display-cave">
										<a href="addWine">
											<div id="add-wine">
												<div id="add">
													<input type="submit" name="ajout-vin" value="+"/>
													<p>Ajouter un vin !</p>
												</div>
											</div>
										</a>
										<!-- fin add wine -->
										
										<check if="{{@resultat!=0}}" >
											<true>
												<repeat group="{{ @resultat }}" value="{{ @wine }}">
													<div class="display-wine">
													 	<h3>{{ @wine.wine_name }}</h3>
													 	<div class="display-wine-infos">
													 		<img src="./public/img/avatars/{{ @wine.wine_img }}" alt="photo du vin {{ @wine.wine_name }}" />
													 		<ul>
																<li>
																	<p>
																		<span class="title-info">Millésime :</span> 
																		{{ @wine.wine_millesime }}
																	</p>
																</li>
																<li>
																	<p>
																		<span class="title-info">Cêpage :</span>
																		{{ @wine.wine_cepage }} 
																	</p>
																</li>
																<li>
																	<p>
																		<span class="title-info">Origine :</span>
																		{{ @wine.wine_origin }}
																	</p>
																</li>
																<li>
																	<p>
																		<span class="title-info">Le ptit conseil :</span>
																		{{ @wine.wine_conseil }}
																	</p>
																</li>
																<li>
																	<p>
																		<span class="title-info">Valeur estimée :</span>
																		{{ @wine.wine_value }}
																	</p>
																</li>
															</ul>
											 			</div>
											 			<!-- fin wine infos -->
											 	
											 			<input type="submit" type="text" value="modifier" />
											 			<input type="submit" type="text" value="supprimer" />	
													</div>
												</repeat>
											</true>
											<false>
												<p>Vous n'avez pas encore ajouté de vin &aacute votre cave.</p>	
											</false>
										</check>
										
										<!-- fin display-wine -->
								
									
									</article>
									<!-- fin display-cave -->
									
									
							
									
							</section>
							<!-- fin my cave -->
							
									<section id="my-friend">
										<h2>J'aime leurs vins</h2>
										<p>14 utilisateurs favoris</p>
										<section id="display-friend">
										
											<div class="friend">
											<img src="#" alt="photo d'ami" />
											<a href="#">Frederico</a>
											</div>
											<!-- fin friend -->
											
											<div class="friend">
											<img src="#" alt="photo d'ami" />
											<a href="#">Frederico</a>
											</div>
											<!-- fin friend -->
											
											<div class="friend">
											<img src="#" alt="photo d'ami" />
											<a href="#">Frederico</a>
											</div>
											<!-- fin friend -->
											
										</section>
										<!-- fin display friend -->
									
									</section>
									<!-- fin my friend -->
						</div> 
						<!-- fin layout -->
						
						
						<footer>
						</footer></section>
						<!-- fin wrapper -->
						
						
			</section>
			<!-- fin wrap -->
			
		</section>
		<!-- fin main -->
		
		
		
		
		
		
		
		
		
		
		
	</body>
	
</html>