



		<!--<p>Alertes</p>-->
		<!-- début main -->
		<section class="main">
		
			<!-- début wrap -->
			<section class="wrap">
			
				<article id="alert">
					<div class="layout">
<p>Proposition</p>
					</div>
				</article>
				
				
				<section id="wrapper">
				
						<!-- début layout -->
						<div class="layout">
						
					<!--	<div id="ariane">
							<a href="#">Afficher tout</a>
							<a href="#">- Proposition reçues -</a>
							<a href="#">Proposition envoyées</a>
						</div>-->
						<!-- fin ariane -->
						
						<article id="display-alert">
<form method="post" action="makeProposition">

							
														
							<div class="accordion1">
							
								
	<div id="wineDemand">
		<input type="hidden" name="wineId" value="{{@wineDemand.wine_id}}"/>
		<input type="hidden" name="wineDemandName" value="{{@wineDemand.wine_name}}"/>
		<input type="hidden" name="wineValue" value="{{@wineDemand.wine_value}}"/>
		<input type="hidden" name="wineImg" value="{{@wineDemand.wine_img}}"/>
	</div>

	<div id="cavePourChoisir" style="background-color:#124789;margin-top:20px;">						
									
									
									<!-- fin alert interact -->
							
							</div>
								<p class="title-alert">Choisissez le vin que vous voulez offrir. :</p>

								<div id="cavePourChoisir">
								<repeat group="{{ @wineCave }}" value="{{ @wine }}">
									<div class="alert-wine">
											

												<div class="alert-info">
													<input type="checkbox" name="wineProp" value="{{ @wine.wine_id }}">

													<h1>{{ @wine.wine_name }}</h1>
													
												</div>
										<img  src="./public/img/avatars/{{ @wine.wine_img }}" alt="wine-picture" />
										
										<!-- fin infos -->
									</div>
									</repeat>
										
								</div>
									<!-- fin alert-wine -->
										<input type="submit" value="Valider la proposition"/>
</form>

							</div>
							<!-- fin accordion 1 -->






