



		<!--<p>Alertes</p>-->
		<!-- début main -->
		<section class="main">
		
			<!-- début wrap -->
			<section class="wrap">
			
				<article id="alert">
					<div class="layout">
<p>Proposition</p>
					</div>
				</article>
				
				
				<section id="wrapper">
				
						<!-- début layout -->
						<div class="layout">
						
					<!--	<div id="ariane">
							<a href="#">Afficher tout</a>
							<a href="#">- Proposition reçues -</a>
							<a href="#">Proposition envoyées</a>
						</div>-->
						<!-- fin ariane -->
						
						<article id="display-alert">
<form method="post" action="makeProposition">











							
														
							<div class="accordion1">
							
								
	<div id="wineDemand">
		<input type="hidden" name="wineId" value="{{@wineDemand.wine_id}}"/>
		<input type="hidden" name="wineDemandName" value="{{@wineDemand.wine_name}}"/>
		<input type="hidden" name="wineValue" value="{{@wineDemand.wine_value}}"/>
	</div>





							
								<p class="title-alert">Voici le vin que vous souhaitez :</p>

	
								<div class="wine">
									<div class="alert-wine">
										<div class="alert-info">
										<h1><a href="wine/{{@wineDemand.wine_id}}">{{@wineDemand.wine_name}}</a></h1>
											
													<li>
														<p>
														<span class="title-info">Valeur estimée :</span>
																{{@wineDemand.wine_value}}
														</p>
													</li>
													
												
								

										</div>
										<!-- fin infos -->
										
										<img src="#" alt="wine-picture" />
									</div>

									


									
								
									
									
									
									
									<!-- fin alert interact -->
										
							
							</div>
								<p class="title-alert">Choisissez le vin que vous voulez offrir. :</p>

	<div id="cavePourChoisir">
									<div class="alert-wine">
											<repeat group="{{ @wineCave }}" value="{{ @wine }}">

										<div class="alert-info">
														<input type="checkbox" name="wineProp" value="{{ @wine.wine_id }}">

										<h1>{{ @wine.wine_name }}</h1>
										
													<li>
														<p>
														<span class="title-info">Valeur estimée :</span>
														{{ @wine.wine_value }}
														</p>
													</li>
													
												
										
										</div>
										<!-- fin infos -->
											</div>
										<img src="#" alt="wine-picture" />
									</div>
									<!-- fin alert-wine -->
										<input type="submit" value="Valider la proposition"/>
</form>

							</div>
							<!-- fin accordion 1 -->






