		<!-- début main -->
		<section class="main">
		
			<!-- début wrap -->
			<section class="wrap">
			
				
				<section id="wrapper">
				
						<div class="layout">
							 <div class="error">{{ @error}}</div>
							
							<section id="inscription">
								<h1>Rejoignez-nous</h1>
								
							
								
								<article id="champs">
										

									<form method="post" action="signup">
						
								<div id="champs-signup">
									<h2>Adresse Mail</h2>
									<input type="text" name="mail" placeholder="mail" />
									<h2>Mot de passe</h2>
									<input type="password" name="mdp1" placeholder="mdp" />
									<h2>Confirmer le mdp :</h2>
									<input type="password" name="mdp2" placeholder="mdp" />
									<h2>Majorité</h2>
										<input class="majority" type="radio" name="majority" value="majeur"><label>Majeur</label>
										<input  class="majority" type="radio" name="majority" value="mineur" checked><label>Mineur</label>

										<!--	<h2>Nom</h2>
									<input type="text" name="nom" placeholder="nom" />-->
									
										
									
									
									<!--	<h2>Adresse postale</h2>
									<input type="text" name="adresse" placeholder="adresse" />-->
									
								</div>
								<!-- fin champs left -->
									

									

								<div id="champs-right">
																		
									
																	
									<!--	<h2>Prénom</h2>
									<input type="text" name="prenom" placeholder="prenom" />-->
									
									
																		
																		<!--	<h2>Ville</h2>
									<input type="text" name="ville" placeholder="ville" />-->
									<!--<h2>Photo</h2>-->

								<!--		<div id="add-wine2">
											<div id="add2">
												<input type="submit" name="ajout-photo" value="+"/>
																							</div>
										</div>
								</div>-->
								<!-- fin champs right -->
								</article>
								<!-- fin champs -->
								<p>Ces informations seront privées et serviront à localiser le Nicolas le plus proche de chez vous
lorsque vous souhaiterez prendre renvez-vous avec un troqueur.</p>
							
							
							<input id="envoyer" type="submit" name="envoyer" value="Je m'inscris" />
							</form>
							</section>
							<!-- fin inscription -->
							
							
							
							
							
						</div> 
						<!-- fin layout -->
						
						
						<footer>
						</footer>
						
						</section>
						<!-- fin wrapper -->
						
					</section>
					<!-- fin wrapper -->
						
						
			</section>
			<!-- fin wrap -->
			
		</section>
		<!-- fin main -->
		