										 	<section class="main"> <!-- début wrap --> <section class="wrap"> <section id="wrapper"> <div class="layout"> <div class="display-wine">
										 <h1>Romanée St Vivant</h1>
										 	<div class="display-wine-infos">
										 		<img src="#" alt="photo du vin" />
										 		
										 		<ul>
													<li>
														<p>
															<span class="title-info">Millésime :</span> 
															{{@wine.wine_millesime}}
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Cêpage :</span>
														 {{@wine.wine_cepage}}
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Région :</span>
														{{@wine.wine_origin}}
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Le ptit conseil :</span>
														{{@wine.wine_conseil}}
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Valeur estimée :</span>
														<a href="#">2500 points</a>
														</p>
													</li>
													<li>
														<p>
														<span class="title-info">Posté par:</span>
														<a href="user/{{@wine.user_wine_id}}">{{@wine.user_firstname}}</a>
														</p></li>
												
											</ul>
										 	
										 	</div>
										 	<!-- fin wine infos --></section> <!-- fin wrapper --> </section> <!-- fin wrapper --> </section> <!-- fin wrap --> </section>
										 